<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bk_AvilabilityServlet</servlet-name>
        <servlet-class>Servlet.Bk_AvilabilityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_bk_AvilableServlet</servlet-name>
        <servlet-class>Servlet.Add_bk_AvilableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register_servlet</servlet-name>
        <servlet-class>Servlet.Register_servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bk_AvilabilityServlet</servlet-name>
        <url-pattern>/Bk_AvilabilityServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_bk_AvilableServlet</servlet-name>
        <url-pattern>/Add_bk_AvilableServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register_servlet</servlet-name>
        <url-pattern>/Register_servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
